<div class="card">
  <h3 class="card-header">Login</h3>
  <form id="loginForm" class="card-body">
    <label for="email-login">User Email:</label>
    <input class="form-input" type="text" id="email-login" />

    <label for="password-login">User Password:</label>
    <input class="form-input" type="text" id="password-login" />

    <button type="submit" class="btn">Login</button>
    <a class="create-account" href="/createAccount">Don't have an account?
      Create one now.</a>
  </form>
</div>

<script src="/public/JS/login.js"></script>